
@{
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thankyou</title>
    <link href="~/css/StyleSheet1.css" rel="stylesheet" />
</head>
<body>
    <br />
    <br />
    <br />

    <h2 id="Cartheader"> LUXURY WATCHES THANKS YOU FOR YOUR ORDER</h2><br /> <h2 id="Cartheader"> HAVE A GLORIOUS DAY</h2>
    <hr />
    <div> 
    </div>
</body>
</html>
